.article-link{
    text-decoration: none;
    outline: none;
    color: #343A40;
}

.nav-link {
    outline: none;
}

.navbar-brand {
    outline: none;
}

.rounded-circle {
    height: 70px;
    width: 70px;
}

.name-adm-mod {
    display: inline-block;
    padding: 3px 15px;
    border-radius: 20px;
    background: #343A40;
    color: #FFFFFF;
}
